<!--
MIT License (modified)
Copyright (c) 2021 The Trustees of the University of Pennsylvania
Authors:
Vasileios Vasilopoulos <vvasilo@seas.upenn.edu>
Permission is hereby granted, free of charge, to any person obtaining a copy
of this **file** (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<launch>
  <arg name="gui"             default="true"/>
  <!--<arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>-->
  <arg name="base"            value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- kobuki, create, roomba -->
  <arg name="battery"         value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="stacks"          value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
 <!-- <arg name="3d_sensor"   value="$(optenv TURTLEBOT_3D_SENSOR hokuyo)"/> --> <!-- kinect, asus_xtion_pro -->
 <arg name="3d_sensor"        value="hokuyo_and_rgbcamera"/> <!-- note that this only works with kobuki and hexagons -->

 <arg name="pub_twist_topic"  default="/mobile_base/commands/velocity"/> <!-- Topic for twist commands - CHECK YOUR PLATFORM -->
 <arg name="sub_robot_topic"  default="/odom"/> <!-- Robot odometry - CHECK YOUR STATE ESTIMATOR -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(find turtlebot_playground)/worlds/obstacles1.world"/> 
  </include>

  <include file="$(find turtlebot_playground)/launch/includes/turtlebot.launch.xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
  </include>

  <!-- Gazebo model spawner -->
  <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
        args="-x -4 -y -2 -Y 0 -unpause -urdf -param robot_description -model mobile_base"/>

  <!-- Launch the state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Define topic parameters -->
  <param name="pub_twist_topic" value="$(arg pub_twist_topic)"/>
  <param name="sub_robot_topic" value="$(arg sub_robot_topic)"/>

  <!-- Launch navigation node -->
  <node pkg="turtlebot_playground" type="navigation_node" name="navigation_node" output="screen"/>

</launch>
